.cell {
	width: 6mm;
	height: 6mm;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	cursor: default;
	font-size: 3mm;
}

.cell:hover {
	background-color: #cccccc;
}

.flag {
	width: 4mm;
	height: 4mm;
}
